.full_table
{
  width: 100%;
}

.main_board
{
  border-collapse: collapse;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.game_info
{
  border: 9px double rgb(94, 195, 35);
  background-color: rgb(110, 217, 29);
  color: rgb(176, 13, 13);
}

.game_info_1
{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.grid_box
{
  background-color: rgb(11, 96, 5);
  border: 9px solid rgb(65, 163, 54);
}

.selecting:hover
{
  background-color: rgb(234, 237, 86);
}

.sub_board
{
  display: grid;
  grid-gap: 9px;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
}

.sub_board > div
{
  padding: 2px;
  background-color: rgb(110, 209, 143);
  align-content: center;
}

.sub_board > div
{
  font-family: Helvetica;
  font-size: 44px;
  font-weight: bold; 
}

.small_board
{
  display: grid;
  grid-gap: 16px;
}

.small_board 
{
  width: 540px;
  height: 540px;
  background-color: rgb(11, 96, 5);
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin-left: auto;
  margin-right: auto;
}

.side_board 
{
  background-color : rgb(110, 209, 143);
  font-family: Helvetica;
  font-weight: bold;
  font-size: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
